Repository distribution/distribution, pull requests merged in 2021-06, with the labels that each got.

#3422 Add tests for tags list pagination
  registry/api/v2/urls.go
  registry/api/v2/urls_test.go
  registry/handlers/api_test.go
Labels: conformance

#3427 Add tag delete API
  docs/spec/api.md
  notifications/listener_test.go
  registry/api/v2/descriptors.go
  registry/client/repository.go
  registry/client/repository_test.go
  registry/handlers/api_test.go
  registry/handlers/manifests.go
  registry/storage/tagstore.go
  registry/storage/tagstore_test.go
Labels: conformance, feature

#3432 Update API spec
  docs/spec/api.md
Labels: documentation

#3410 Fix html not rendering markdown link properly
  docs/spec/auth/token.md
Labels: documentation

#3382 OCI: add conformance test github action
  .github/workflows/conformance.yml
  README.md
Labels: conformance

#3444 Fixing http status for PUT/PATCH APIs
  docs/spec/api.md
  registry/api/v2/descriptors.go
Labels: documentation

#3442 Fix OCI conformance workflow report and README badge
  .github/workflows/conformance.yml
  README.md
Labels: conformance
