Repository distribution/distribution, pull requests merged in 2021-03, with the labels that each got.

#3174 manifests: Return UNSUPPORTED when deleting manifests by tag
  registry/handlers/manifests.go
Labels: conformance

#2979 Fix bug in parsing domain from repository reference
  reference/normalize.go
  reference/normalize_test.go
Labels: bug

#2911 Populate the platform information when calling the References() method of manifest list
  manifest/manifestlist/manifestlist.go
  manifest/manifestlist/manifestlist_test.go
Labels: enhancement, status/2-code-review

#3136 log: Include configured fields in all logs
  context/logger.go
  registry/registry.go
  registry/registry_test.go
Labels: theme/ops-friendliness

#3371 docs/spec/manifest-v2-2.md: fix ARM variant
  docs/spec/manifest-v2-2.md
Labels: documentation

#2815 Add code to handle pagination of parts. Fixes max layer size of 10GB bug
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage/s3

#3364 fix: disable DisableHTMLEscape on logrus json logging
  registry/registry.go
Labels: priority/P2, status/1-design-review, theme/ops-friendliness

#3341 Add CodeQL Security Scanning
  .github/workflows/codeql-analysis.yml
Labels: status/2-code-review
