Repository distribution/distribution, pull requests merged in 2021-02, with the labels that each got.

#3352 Update README badges
  README.md
Labels: documentation, priority/P2

#3201 Clarify repo name regex intention
  reference/regexp.go
Labels: documentation

#3242 Upgrade Gorilla Handlers to `1.5.1`.
  go.mod
  go.sum
  vendor/github.com/felixge/httpsnoop/.gitignore
  vendor/github.com/felixge/httpsnoop/.travis.yml
  vendor/github.com/felixge/httpsnoop/LICENSE.txt
  vendor/github.com/felixge/httpsnoop/Makefile
  vendor/github.com/felixge/httpsnoop/README.md
  vendor/github.com/felixge/httpsnoop/capture_metrics.go
  vendor/github.com/felixge/httpsnoop/docs.go
  vendor/github.com/felixge/httpsnoop/go.mod
  vendor/github.com/felixge/httpsnoop/wrap_generated_gteq_1.8.go
  vendor/github.com/felixge/httpsnoop/wrap_generated_lt_1.8.go
  vendor/github.com/gorilla/handlers/.travis.yml
  vendor/github.com/gorilla/handlers/README.md
  vendor/github.com/gorilla/handlers/canonical.go
  vendor/github.com/gorilla/handlers/compress.go
  vendor/github.com/gorilla/handlers/cors.go
  vendor/github.com/gorilla/handlers/go.mod
  vendor/github.com/gorilla/handlers/go.sum
  vendor/github.com/gorilla/handlers/handlers.go
  vendor/github.com/gorilla/handlers/logging.go
  vendor/github.com/gorilla/handlers/proxy_headers.go
  vendor/github.com/gorilla/handlers/recovery.go
  vendor/modules.txt
Labels: area/vendor

#3244 Fix typo for image digest regular expression in spec
  docs/spec/api.md
  docs/spec/api.md.tmpl
Labels: dco/no, documentation

#2905 Honor contexts passed to registry client methods
  registry/client/repository.go
  registry/client/transport/http_reader.go
Labels: enhancement, status/2-code-review

#3146 get rid of apache2-utils
  Dockerfile
Labels: priority/P2, security, status/2-code-review

#3305 Update README a bit
  README.md
Labels: documentation

#3300 Fix minor spelling mistakes
  registry/api/errcode/errors.go
  registry/api/v2/urls.go
  registry/client/auth/challenge/authchallenge.go
Labels: documentation

#3265 Update repo normalize error message to include the name of the repo.
  reference/normalize.go
Labels: enhancement, priority/P2, status/1-design-review

#3204 Relax filesystem driver folder permissions to 0777 (cont)
  registry/storage/driver/filesystem/driver.go
Labels: area/storage

#3240 Upgrade Logstash hook for Logrus to `1.0.0`.
  go.mod
  go.sum
  registry/registry.go
  vendor/github.com/bshuster-repo/logrus-logstash-hook/.travis.yml
  vendor/github.com/bshuster-repo/logrus-logstash-hook/CHANGELOG.md
  vendor/github.com/bshuster-repo/logrus-logstash-hook/README.md
  vendor/github.com/bshuster-repo/logrus-logstash-hook/hook.go
  vendor/github.com/bshuster-repo/logrus-logstash-hook/logstash.go
  vendor/github.com/bshuster-repo/logrus-logstash-hook/logstash_formatter.go
  vendor/modules.txt
Labels: area/vendor

#3169 Added flag for user configurable cipher suites
  Makefile
  configuration/configuration.go
  configuration/configuration_test.go
  docs/configuration.md
  registry/registry.go
  registry/registry_test.go
Labels: feature, priority/P1, security, status/2-code-review, status/needs-attention

#3370 [cherry pick]close the io.ReadCloser from storage driver
  registry/storage/io.go
Labels: process/cherry-pick
