Repository distribution/distribution, pull requests merged in 2022-04, with the labels that each got.

#3181 Add new parameter accelerate to S3 storage driver.
  docs/configuration.md
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: enhancement, status/1-design-review, area/storage/s3

#3624 Update s3 ListObjects to V2 API
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage/s3

#3622 Support all S3 instant retrieval storage classes
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage/s3

#3634 validate and update vendor targets
  .github/workflows/ci.yml
  .github/workflows/validate.yml
  Makefile
  docker-bake.hcl
  dockerfiles/vendor.Dockerfile
  script/validate/vendor
Labels: area/vendor
