Repository distribution/distribution, pull requests merged in 2022-01, with the labels that each got.

#3228 go.mod: spf13/cobra v1.0.0
  go.mod
  go.sum
  vendor/github.com/kr/pretty/.gitignore
  vendor/github.com/kr/pretty/License
  vendor/github.com/kr/pretty/Readme
  vendor/github.com/kr/pretty/diff.go
  vendor/github.com/kr/pretty/formatter.go
  vendor/github.com/kr/pretty/go.mod
  vendor/github.com/kr/pretty/pretty.go
  vendor/github.com/kr/pretty/zero.go
  vendor/github.com/kr/text/License
  vendor/github.com/kr/text/Readme
  vendor/github.com/kr/text/doc.go
  vendor/github.com/kr/text/go.mod
  vendor/github.com/kr/text/indent.go
  vendor/github.com/kr/text/wrap.go
  vendor/github.com/spf13/cobra/.gitignore
  vendor/github.com/spf13/cobra/.travis.yml
  vendor/github.com/spf13/cobra/Makefile
  vendor/github.com/spf13/cobra/README.md
  vendor/github.com/spf13/cobra/args.go
  vendor/github.com/spf13/cobra/bash_completions.go
  vendor/github.com/spf13/cobra/bash_completions.md
  vendor/github.com/spf13/cobra/cobra.go
  vendor/github.com/spf13/cobra/command.go
  vendor/github.com/spf13/cobra/command_win.go
  vendor/github.com/spf13/cobra/custom_completions.go
  vendor/github.com/spf13/cobra/fish_completions.go
  vendor/github.com/spf13/cobra/fish_completions.md
  vendor/github.com/spf13/cobra/go.mod
  vendor/github.com/spf13/cobra/go.sum
  vendor/github.com/spf13/cobra/powershell_completions.go
  vendor/github.com/spf13/cobra/powershell_completions.md
  vendor/github.com/spf13/cobra/shell_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.go
  vendor/github.com/spf13/cobra/zsh_completions.md
  vendor/gopkg.in/check.v1/.travis.yml
  vendor/gopkg.in/check.v1/benchmark.go
  vendor/gopkg.in/check.v1/check.go
  vendor/gopkg.in/check.v1/checkers.go
  vendor/gopkg.in/check.v1/helpers.go
  vendor/gopkg.in/check.v1/reporter.go
  vendor/modules.txt
Labels: area/vendor

#3579 Fix: Avoid a false type assertion in the inmemory driver
  registry/storage/driver/inmemory/mfs.go
Labels: bug

#3580 Update golangci-lint version and fix reports
  .golangci.yml
  context/http.go
  script/setup/install-dev-tools
Labels: theme/quality
