Repository distribution/distribution, pull requests merged in 2023-09, with the labels that each got.

#4035 Remove outdated docs
  docs/migration.md
  docs/spec/api.md
  docs/spec/api.md.tmpl
Labels: documentation

#4036 Propagate storage driver context to S3 API calls
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage/s3

#4042 Remove libtrust from handler tests
  registry/handlers/api_test.go
Labels: impact/deprecation

#4054 [release/2.8 backport] Dont parse errors as JSON unless Content-Type is set to JSON
  registry/client/blob_writer_test.go
  registry/client/errors.go
  registry/client/errors_test.go
  registry/client/repository_test.go
Labels: 2.x

#4056 [release/2.8] update to go1.20.8
  .github/workflows/ci.yml
  .golangci.yml
  Dockerfile
  reference/normalize_test.go
  registry/api/v2/routes_test.go
  registry/auth/token/token_test.go
  registry/proxy/proxyblobstore_test.go
  registry/registry.go
  registry/storage/driver/s3-aws/s3_test.go
  registry/storage/driver/testsuites/testsuites.go
  registry/storage/filereader_test.go
  script/setup/install-dev-tools
  testutil/tarfile.go
Labels: 2.x

#4053 [release/2.8 backport] Set Content-Type header in registry client ReadFrom
  registry/client/blob_writer.go
Labels: 2.x

#4052 registry/client: combine SuccessStatus and HandleErrorResponse
  registry/client/auth/session.go
  registry/client/blob_writer.go
  registry/client/errors.go
  registry/client/errors_test.go
  registry/client/repository.go
Labels: area/client

#4040 registry/api: move all errors to "errcode" package, and split "Register" to internal / exported
  registry/api/errcode/errors_test.go
  registry/api/errcode/register.go
  registry/api/v2/descriptors.go
  registry/api/v2/errors.go
  registry/api/v2/errors_deprecated.go
  registry/client/blob_writer_test.go
  registry/client/repository_test.go
  registry/handlers/api_test.go
  registry/handlers/app.go
  registry/handlers/blob.go
  registry/handlers/blobupload.go
  registry/handlers/catalog.go
  registry/handlers/manifests.go
  registry/handlers/tags.go
Labels: impact/deprecation

#3569 optimize: avoid redundant blob fetching
  registry/proxy/proxyblobstore.go
  registry/proxy/proxyblobstore_test.go
Labels: area/proxy

#4020 Support systemd socket-activation
  docs/configuration.md
  docs/recipes/index.md
  docs/recipes/systemd.md
  go.mod
  go.sum
  registry/listener/listener.go
  vendor/github.com/coreos/go-systemd/v22/LICENSE
  vendor/github.com/coreos/go-systemd/v22/NOTICE
  vendor/github.com/coreos/go-systemd/v22/activation/files_unix.go
  vendor/github.com/coreos/go-systemd/v22/activation/files_windows.go
  vendor/github.com/coreos/go-systemd/v22/activation/listeners.go
  vendor/github.com/coreos/go-systemd/v22/activation/packetconns.go
  vendor/modules.txt
Labels: enhancement, feature

#4064 [release/2.8] digestset: deprecate package in favor of go-digest/digestset
  digestset/deprecated.go
  digestset/set_test.go
  reference/normalize_deprecated.go
  vendor.conf
  vendor/github.com/opencontainers/go-digest/LICENSE
  vendor/github.com/opencontainers/go-digest/README.md
  vendor/github.com/opencontainers/go-digest/algorithm.go
  vendor/github.com/opencontainers/go-digest/digest.go
  vendor/github.com/opencontainers/go-digest/digester.go
  vendor/github.com/opencontainers/go-digest/digestset/set.go
  vendor/github.com/opencontainers/go-digest/doc.go
  vendor/github.com/opencontainers/go-digest/go.mod
  vendor/github.com/opencontainers/go-digest/verifiers.go
Labels: 2.x

#4067 Do not close HTTP request body in HTTP handler
  registry/handlers/app.go
  registry/handlers/tags.go
Labels: enhancement

#4068 [release/2.8] Do not close HTTP request body in HTTP handler
  registry/handlers/app.go
  registry/handlers/tags.go
Labels: 2.x

#4070 add repositoriesRootPathSpec in pathFor documentation
  registry/storage/paths.go
Labels: documentation

#4072 driver testsuite: Add zero byte file checks
  registry/storage/driver/testsuites/testsuites.go
Labels: area/storage, area/tests

#4066 Optimise push in S3 driver
  registry/storage/driver/s3-aws/s3.go
Labels: enhancement, area/storage/s3
