Repository distribution/distribution, pull requests merged in 2023-10, with the labels that each got.

#4089 Add few more sentences for the debug endpoint
  docs/configuration.md
Labels: documentation

#4086 Properly indent prometheus docs
  docs/configuration.md
Labels: documentation

#4087 Update Docker Hub README and keep it in sync with this repository.
  .github/dockerhub-readme.yml
  cmd/registry/config-dev.yml
  docs/dockerhub.md
Labels: documentation

#4081 refactor redis cache
  registry/storage/cache/redis/redis.go
Labels: refactor, area/cache

#4076 registry: add loglevel support for aws s3 storage driver
  docs/configuration.md
  docs/storage-drivers/s3.md
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage/s3

#4108 refactor: Storage driver errors
  registry/storage/driver/base/base.go
  registry/storage/driver/errors_test.go
  registry/storage/driver/storagedriver.go
Labels: area/storage, theme/ops-friendliness

#4113 reference: fix broken alias for DomainRegexp
  reference/regexp_deprecated.go
Labels: status/2-code-review

#4114 [release/2.8 backport] reference: fix broken alias for DomainRegexp
  reference/regexp_deprecated.go
Labels: status/2-code-review, 2.x

#4117 [release/2.8 backport] update to go1.20.10
  .github/workflows/ci.yml
  Dockerfile
Labels: impact/changelog, 2.x

#4109 Add context to storagedriver.(Filewriter).Commit()
  registry/storage/blobwriter.go
  registry/storage/driver/azure/azure.go
  registry/storage/driver/azure/azure_test.go
  registry/storage/driver/filesystem/driver.go
  registry/storage/driver/gcs/gcs.go
  registry/storage/driver/gcs/gcs_test.go
  registry/storage/driver/inmemory/driver.go
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/storagedriver.go
  registry/storage/driver/testsuites/testsuites.go
Labels: refactor, area/storage

#4096 Replace docker/libtrust with go-jose/go-jose
  docs/content/spec/auth/jwt.md
  go.mod
  go.sum
  registry/auth/token/accesscontroller.go
  registry/auth/token/token.go
  registry/auth/token/token_test.go
  registry/auth/token/util.go
  vendor/github.com/docker/libtrust/CONTRIBUTING.md
  vendor/github.com/docker/libtrust/MAINTAINERS
  vendor/github.com/docker/libtrust/README.md
  vendor/github.com/docker/libtrust/certificates.go
  vendor/github.com/docker/libtrust/doc.go
  vendor/github.com/docker/libtrust/ec_key.go
  vendor/github.com/docker/libtrust/filter.go
  vendor/github.com/docker/libtrust/hash.go
  vendor/github.com/docker/libtrust/jsonsign.go
  vendor/github.com/docker/libtrust/key.go
  vendor/github.com/docker/libtrust/key_files.go
  vendor/github.com/docker/libtrust/key_manager.go
  vendor/github.com/docker/libtrust/rsa_key.go
  vendor/github.com/docker/libtrust/util.go
  vendor/github.com/go-jose/go-jose/v3/.gitignore
  vendor/github.com/go-jose/go-jose/v3/.golangci.yml
  vendor/github.com/go-jose/go-jose/v3/.travis.yml
  vendor/github.com/go-jose/go-jose/v3/BUG-BOUNTY.md
  vendor/github.com/go-jose/go-jose/v3/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v3/LICENSE
  vendor/github.com/go-jose/go-jose/v3/README.md
  vendor/github.com/go-jose/go-jose/v3/asymmetric.go
  vendor/github.com/go-jose/go-jose/v3/cipher/cbc_hmac.go
  vendor/github.com/go-jose/go-jose/v3/cipher/concat_kdf.go
  vendor/github.com/go-jose/go-jose/v3/cipher/ecdh_es.go
  vendor/github.com/go-jose/go-jose/v3/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v3/crypter.go
  vendor/github.com/go-jose/go-jose/v3/doc.go
  vendor/github.com/go-jose/go-jose/v3/encoding.go
  vendor/github.com/go-jose/go-jose/v3/json/LICENSE
  vendor/github.com/go-jose/go-jose/v3/json/README.md
  vendor/github.com/go-jose/go-jose/v3/json/decode.go
  vendor/github.com/go-jose/go-jose/v3/json/encode.go
  vendor/github.com/go-jose/go-jose/v3/json/indent.go
  vendor/github.com/go-jose/go-jose/v3/json/scanner.go
  vendor/github.com/go-jose/go-jose/v3/json/stream.go
  vendor/github.com/go-jose/go-jose/v3/json/tags.go
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jwk.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/go-jose/go-jose/v3/jwt/builder.go
  vendor/github.com/go-jose/go-jose/v3/jwt/claims.go
  vendor/github.com/go-jose/go-jose/v3/jwt/doc.go
  vendor/github.com/go-jose/go-jose/v3/jwt/errors.go
  vendor/github.com/go-jose/go-jose/v3/jwt/jwt.go
  vendor/github.com/go-jose/go-jose/v3/jwt/validation.go
  vendor/github.com/go-jose/go-jose/v3/opaque.go
  vendor/github.com/go-jose/go-jose/v3/shared.go
  vendor/github.com/go-jose/go-jose/v3/signing.go
  vendor/github.com/go-jose/go-jose/v3/symmetric.go
  vendor/golang.org/x/crypto/pbkdf2/pbkdf2.go
  vendor/modules.txt
Labels: area/auth

#4126 Move registry client internal
  internal/client/auth/api_version.go
  internal/client/auth/challenge/addr.go
  internal/client/auth/challenge/authchallenge.go
  internal/client/auth/challenge/authchallenge_test.go
  internal/client/auth/session.go
  internal/client/auth/session_test.go
  internal/client/blob_writer.go
  internal/client/blob_writer_test.go
  internal/client/errors.go
  internal/client/errors_test.go
  internal/client/repository.go
  internal/client/repository_test.go
  internal/client/transport/http_reader.go
  internal/client/transport/http_reader_test.go
  internal/client/transport/transport.go
  registry/proxy/proxyauth.go
  registry/proxy/proxymanifeststore_test.go
  registry/proxy/proxyregistry.go
Labels: v3.0.0

#4129 Make our UUID package internal
  context/context.go
  context/http.go
  context/trace.go
  internal/client/repository_test.go
  internal/uuid/uuid.go
  internal/uuid/uuid_test.go
  notifications/bridge.go
  notifications/bridge_test.go
  registry/registry.go
  registry/storage/linkedblobstore.go
  registry/storage/purgeuploads.go
  registry/storage/purgeuploads_test.go
Labels: v3.0.0

#4127 Delete reference package
  reference/helpers_deprecated.go
  reference/normalize_deprecated.go
  reference/reference_deprecated.go
  reference/regexp_deprecated.go
  reference/sort_deprecated.go
Labels: v3.0.0

#4132 Switch to github.com/google/uuid
  context/context.go
  context/http.go
  context/trace.go
  go.mod
  internal/client/repository_test.go
  notifications/bridge.go
  notifications/bridge_test.go
  registry/registry.go
  registry/storage/linkedblobstore.go
  registry/storage/purgeuploads.go
  registry/storage/purgeuploads_test.go
Labels: dependencies, cleanup

#4047 Add prometheus proxy related metrics
  docs/content/about/configuration.md
  metrics/prometheus.go
  registry/proxy/proxymetrics.go
Labels: area/proxy

#4121 ci: add cloud storage driver integration tests to CI
  .github/workflows/build.yml
  .github/workflows/e2e.yml
  Makefile
  tests/conf-e2e-cloud-storage.yml
  tests/docker-compose-e2e-cloud-storage.yml
Labels: area/ci

#4142 Plumb contexts into storage driver factories and middlewares
  registry/handlers/api_test.go
  registry/handlers/app.go
  registry/root.go
  registry/storage/driver/azure/azure.go
  registry/storage/driver/azure/azure_test.go
  registry/storage/driver/factory/factory.go
  registry/storage/driver/filesystem/driver.go
  registry/storage/driver/gcs/gcs.go
  registry/storage/driver/inmemory/driver.go
  registry/storage/driver/middleware/cloudfront/middleware.go
  registry/storage/driver/middleware/cloudfront/middleware_test.go
  registry/storage/driver/middleware/cloudfront/s3filter.go
  registry/storage/driver/middleware/cloudfront/s3filter_test.go
  registry/storage/driver/middleware/redirect/middleware.go
  registry/storage/driver/middleware/redirect/middleware_test.go
  registry/storage/driver/middleware/storagemiddleware.go
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: v3.0.0

#4139 cleanup: make chunk sizes easier to understand and change writer append
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage/s3

#4130 feat: push distribution images to GHCR
  .github/workflows/build.yml
Labels: area/ci
