Repository distribution/distribution, pull requests merged in 2023-05, with the labels that each got.

#3881 registry/errors: Parse http forbidden as denied
  registry/client/errors.go
  registry/client/errors_test.go
Labels: status/2-code-review

#3795 Fuzzing: Move over two fuzzers from cncf-fuzzing
  go.mod
  go.sum
  registry/auth/token/fuzz_test.go
  vendor/github.com/AdaLogics/go-fuzz-headers/LICENSE
  vendor/github.com/AdaLogics/go-fuzz-headers/README.md
  vendor/github.com/AdaLogics/go-fuzz-headers/consumer.go
  vendor/github.com/AdaLogics/go-fuzz-headers/funcs.go
  vendor/github.com/AdaLogics/go-fuzz-headers/sql.go
  vendor/github.com/cyphar/filepath-securejoin/.travis.yml
  vendor/github.com/cyphar/filepath-securejoin/LICENSE
  vendor/github.com/cyphar/filepath-securejoin/README.md
  vendor/github.com/cyphar/filepath-securejoin/VERSION
  vendor/github.com/cyphar/filepath-securejoin/join.go
  vendor/github.com/cyphar/filepath-securejoin/vfs.go
  vendor/github.com/kr/pretty/License
  vendor/github.com/kr/pretty/formatter.go
  vendor/github.com/kr/pretty/pretty.go
  vendor/gopkg.in/check.v1/check.go
  vendor/gopkg.in/check.v1/helpers.go
  vendor/modules.txt
Labels: status/2-code-review

#2766 Remove registry storage testdriver
  registry/handlers/api_test.go
  registry/handlers/app_test.go
  registry/storage/blob_test.go
  registry/storage/driver/inmemory/driver.go
  registry/storage/driver/testdriver/testdriver.go
Labels: area/storage, status/1-design-review

#3885 assorted test updates
  context/http_test.go
  context/trace_test.go
  notifications/sinks_test.go
  reference/normalize_test.go
  reference/reference_test.go
  reference/regexp_test.go
  registry/api/errcode/errors_test.go
  registry/api/v2/routes_test.go
  registry/api/v2/urls_test.go
  registry/auth/token/types_test.go
  registry/handlers/hmac_test.go
  registry/storage/driver/middleware/cloudfront/s3filter_test.go
Labels: refactor, status/2-code-review
