Repository distribution/distribution, pull requests merged in 2023-12, with the labels that each got.

#4172 cleanup: move init funcs to the top of the source
  health/api/api.go
  health/health.go
  internal/client/auth/challenge/authchallenge.go
  notifications/metrics.go
  registry/api/v2/descriptors.go
  registry/auth/auth.go
  registry/auth/htpasswd/access.go
  registry/auth/silly/access.go
  registry/auth/token/accesscontroller.go
  registry/proxy/proxyblobstore_test.go
  registry/proxy/proxymetrics.go
  registry/storage/driver/middleware/cloudfront/middleware.go
  registry/storage/driver/middleware/redirect/middleware.go
  registry/storage/driver/testsuites/testsuites.go
Labels: cleanup

#4181 vendor: github.com/klauspost/compress v1.17.4
  go.mod
  go.sum
  vendor/github.com/klauspost/compress/.goreleaser.yml
  vendor/github.com/klauspost/compress/README.md
  vendor/github.com/klauspost/compress/SECURITY.md
  vendor/github.com/klauspost/compress/fse/bitwriter.go
  vendor/github.com/klauspost/compress/fse/compress.go
  vendor/github.com/klauspost/compress/huff0/bitwriter.go
  vendor/github.com/klauspost/compress/huff0/bytereader.go
  vendor/github.com/klauspost/compress/huff0/compress.go
  vendor/github.com/klauspost/compress/huff0/decompress.go
  vendor/github.com/klauspost/compress/huff0/huff0.go
  vendor/github.com/klauspost/compress/internal/snapref/encode_other.go
  vendor/github.com/klauspost/compress/zstd/README.md
  vendor/github.com/klauspost/compress/zstd/bitreader.go
  vendor/github.com/klauspost/compress/zstd/bitwriter.go
  vendor/github.com/klauspost/compress/zstd/blockdec.go
  vendor/github.com/klauspost/compress/zstd/blockenc.go
  vendor/github.com/klauspost/compress/zstd/decoder_options.go
  vendor/github.com/klauspost/compress/zstd/dict.go
  vendor/github.com/klauspost/compress/zstd/enc_base.go
  vendor/github.com/klauspost/compress/zstd/enc_best.go
  vendor/github.com/klauspost/compress/zstd/enc_better.go
  vendor/github.com/klauspost/compress/zstd/enc_dfast.go
  vendor/github.com/klauspost/compress/zstd/enc_fast.go
  vendor/github.com/klauspost/compress/zstd/encoder.go
  vendor/github.com/klauspost/compress/zstd/encoder_options.go
  vendor/github.com/klauspost/compress/zstd/framedec.go
  vendor/github.com/klauspost/compress/zstd/frameenc.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.go
  vendor/github.com/klauspost/compress/zstd/matchlen_amd64.s
  vendor/github.com/klauspost/compress/zstd/matchlen_generic.go
  vendor/github.com/klauspost/compress/zstd/seqdec.go
  vendor/github.com/klauspost/compress/zstd/seqdec_amd64.s
  vendor/github.com/klauspost/compress/zstd/seqdec_generic.go
  vendor/github.com/klauspost/compress/zstd/snappy.go
  vendor/github.com/klauspost/compress/zstd/zstd.go
  vendor/modules.txt
Labels: dependencies

#4179 vendor: github.com/sirupsen/logrus v1.9.3
  go.mod
  go.sum
  vendor/github.com/sirupsen/logrus/README.md
  vendor/github.com/sirupsen/logrus/buffer_pool.go
  vendor/github.com/sirupsen/logrus/entry.go
  vendor/github.com/sirupsen/logrus/logger.go
  vendor/github.com/sirupsen/logrus/writer.go
  vendor/modules.txt
Labels: dependencies

#4176 update: bump Go version
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
Labels: area/go-version

#4187 Update nginx.md
  docs/content/recipes/nginx.md
Labels: documentation

#4164 Update the gotcha in the proxy guide
  docs/content/recipes/mirror.md
Labels: documentation

#4190 fix: use http.DefaultTransport in S3 client
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: bug, area/storage/s3

#4195 fix: don't override storage driver useragent if it's set
  registry/handlers/app.go
Labels: area/config

#4194 update: S3 driver docs
  docs/content/storage-drivers/s3.md
Labels: documentation, area/storage/s3

#4193 fix: remove disabling of multipart combine small parts
  docs/content/storage-drivers/s3.md
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: bug, area/storage/s3, impact/deprecation

#4203 update: set User-Agent header in GCS storage driver
  registry/storage/driver/gcs/gcs.go
Labels: area/storage/gcs

#4208 update: readme cleanup and fxes
  README.md
  docs/dockerhub.md
Labels: documentation

#4222 vendor: github.com/mitchellh/mapstructure v1.5.0
  go.mod
  go.sum
  vendor/github.com/mitchellh/mapstructure/.travis.yml
  vendor/github.com/mitchellh/mapstructure/CHANGELOG.md
  vendor/github.com/mitchellh/mapstructure/decode_hooks.go
  vendor/github.com/mitchellh/mapstructure/mapstructure.go
  vendor/modules.txt
Labels: status/2-code-review, dependencies

#4217 chore: dependabot to keep gha up to date
  .github/dependabot.yml
Labels: area/ci
