Repository distribution/distribution, pull requests merged in 2023-08, with the labels that each got.

#2897 Cleanup storage cache metrics
  registry/storage/cache/cachedblobdescriptorstore.go
Labels: refactor, status/1-design-review, theme/ops-friendliness, priority/P2

#3985 Remove oss storage driver and alicdn storage driver middleware
  BUILDING.md
  Dockerfile
  cmd/registry/main.go
  dockerfiles/lint.Dockerfile
  docs/configuration.md
  docs/introduction.md
  docs/storage-drivers/index.md
  docs/storage-drivers/oss.md
  go.mod
  go.sum
  registry/storage/driver/middleware/alicdn/middleware.go
  registry/storage/driver/oss/doc.go
  registry/storage/driver/oss/oss.go
  registry/storage/driver/oss/oss_test.go
  vendor/github.com/denverdino/aliyungo/LICENSE.txt
  vendor/github.com/denverdino/aliyungo/cdn/auth/random_uuid.go
  vendor/github.com/denverdino/aliyungo/cdn/auth/sign_url.go
  vendor/github.com/denverdino/aliyungo/common/client.go
  vendor/github.com/denverdino/aliyungo/common/endpoint.go
  vendor/github.com/denverdino/aliyungo/common/endpoints.xml
  vendor/github.com/denverdino/aliyungo/common/regions.go
  vendor/github.com/denverdino/aliyungo/common/request.go
  vendor/github.com/denverdino/aliyungo/common/types.go
  vendor/github.com/denverdino/aliyungo/common/version.go
  vendor/github.com/denverdino/aliyungo/oss/authenticate_callback.go
  vendor/github.com/denverdino/aliyungo/oss/client.go
  vendor/github.com/denverdino/aliyungo/oss/export.go
  vendor/github.com/denverdino/aliyungo/oss/multi.go
  vendor/github.com/denverdino/aliyungo/oss/regions.go
  vendor/github.com/denverdino/aliyungo/oss/signature.go
  vendor/github.com/denverdino/aliyungo/util/attempt.go
  vendor/github.com/denverdino/aliyungo/util/encoding.go
  vendor/github.com/denverdino/aliyungo/util/iso6801.go
  vendor/github.com/denverdino/aliyungo/util/signature.go
  vendor/github.com/denverdino/aliyungo/util/util.go
  vendor/modules.txt
Labels: area/storage, impact/deprecation

#4006 Enable bodyclose linter
  .golangci.yml
  context/http_test.go
  health/checks/checks.go
  registry/client/auth/session_test.go
  registry/client/blob_writer.go
  registry/client/repository.go
  registry/handlers/api_test.go
  registry/handlers/app_test.go
  registry/registry_test.go
  registry/storage/driver/middleware/cloudfront/s3filter.go
  registry/storage/driver/testsuites/testsuites.go
Labels: theme/quality

#4007 Remove schema1 references from registry client
  registry/client/repository_test.go
Labels: impact/deprecation

#3713 S3 tests
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage/s3

#4000 Remove bugsnag
  configuration/configuration.go
  configuration/configuration_test.go
  docs/configuration.md
  go.mod
  go.sum
  registry/registry.go
  vendor/github.com/Shopify/logrus-bugsnag/.travis.yml
  vendor/github.com/Shopify/logrus-bugsnag/LICENSE
  vendor/github.com/Shopify/logrus-bugsnag/README.md
  vendor/github.com/Shopify/logrus-bugsnag/bugsnag.go
  vendor/github.com/Shopify/logrus-bugsnag/dev.yml
  vendor/github.com/bugsnag/bugsnag-go/.travis.yml
  vendor/github.com/bugsnag/bugsnag-go/LICENSE.txt
  vendor/github.com/bugsnag/bugsnag-go/README.md
  vendor/github.com/bugsnag/bugsnag-go/appengine.go
  vendor/github.com/bugsnag/bugsnag-go/bugsnag.go
  vendor/github.com/bugsnag/bugsnag-go/configuration.go
  vendor/github.com/bugsnag/bugsnag-go/doc.go
  vendor/github.com/bugsnag/bugsnag-go/errors/README.md
  vendor/github.com/bugsnag/bugsnag-go/errors/error.go
  vendor/github.com/bugsnag/bugsnag-go/errors/parse_panic.go
  vendor/github.com/bugsnag/bugsnag-go/errors/stackframe.go
  vendor/github.com/bugsnag/bugsnag-go/event.go
  vendor/github.com/bugsnag/bugsnag-go/json_tags.go
  vendor/github.com/bugsnag/bugsnag-go/metadata.go
  vendor/github.com/bugsnag/bugsnag-go/middleware.go
  vendor/github.com/bugsnag/bugsnag-go/notifier.go
  vendor/github.com/bugsnag/bugsnag-go/panicwrap.go
  vendor/github.com/bugsnag/bugsnag-go/payload.go
  vendor/github.com/bugsnag/osext/LICENSE
  vendor/github.com/bugsnag/osext/osext.go
  vendor/github.com/bugsnag/osext/osext_plan9.go
  vendor/github.com/bugsnag/osext/osext_procfs.go
  vendor/github.com/bugsnag/osext/osext_sysctl.go
  vendor/github.com/bugsnag/osext/osext_windows.go
  vendor/github.com/bugsnag/panicwrap/LICENSE
  vendor/github.com/bugsnag/panicwrap/README.md
  vendor/github.com/bugsnag/panicwrap/dup2.go
  vendor/github.com/bugsnag/panicwrap/dup3.go
  vendor/github.com/bugsnag/panicwrap/monitor.go
  vendor/github.com/bugsnag/panicwrap/monitor_windows.go
  vendor/github.com/bugsnag/panicwrap/panicwrap.go
  vendor/modules.txt
Labels: impact/deprecation

#4018 Small Makefie update
  Makefile
Labels: theme/quality

#4021 Update to go 1.20
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
  registry/api/v2/routes_test.go
  registry/proxy/proxyblobstore_test.go
  registry/storage/driver/s3-aws/s3_test.go
  registry/storage/driver/testsuites/testsuites.go
  registry/storage/filereader_test.go
  testutil/tarfile.go
Labels: area/go-version

#4002 Remove references to schema1 pacakge from storage
  registry/root.go
  registry/storage/catalog_test.go
  registry/storage/garbagecollect_test.go
  registry/storage/manifeststore.go
  registry/storage/manifeststore_test.go
  registry/storage/registry.go
  registry/storage/schema2manifesthandler.go
  registry/storage/signedmanifesthandler.go
  registry/storage/v1unsupportedhandler.go
  testutil/manifests.go
Labels: impact/deprecation

#4013 Dont parse errors as JSON unless Content-Type is set to JSON
  registry/client/blob_writer_test.go
  registry/client/errors.go
  registry/client/errors_test.go
  registry/client/repository_test.go
Labels: enhancement, conformance, area/client

#4027 Add username to create redis client
  registry/handlers/app.go
Labels: bug, area/cache

#4022 Don't make a new buffer for catalog listing
  registry/storage/catalog.go
Labels: enhancement, performance

#4023 feat!: remove schema1 manifest and config options
  configuration/configuration.go
  docs/configuration.md
  docs/notifications.md
  docs/spec/manifest-v2-1.md
  docs/spec/manifest-v2-2.md
  manifest/schema1/config_builder.go
  manifest/schema1/config_builder_test.go
  manifest/schema1/manifest.go
  manifest/schema1/manifest_test.go
  manifest/schema1/reference_builder.go
  manifest/schema1/reference_builder_test.go
  manifest/schema1/sign.go
  manifest/schema1/verify.go
  notifications/event.go
Labels: impact/deprecation

#4028 remove duplicated code
  registry/storage/cache/redis/redis.go
Labels: theme/quality, area/cache

#3685 Work with the storage driver to minimise work when paging
  registry/storage/catalog.go
  registry/storage/catalog_test.go
  registry/storage/driver/azure/azure.go
  registry/storage/driver/base/base.go
  registry/storage/driver/filesystem/driver.go
  registry/storage/driver/gcs/gcs.go
  registry/storage/driver/inmemory/driver.go
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
  registry/storage/driver/storagedriver.go
  registry/storage/driver/walk.go
  registry/storage/driver/walk_test.go
  registry/storage/paths.go
Labels: area/storage, area/storage/s3, performance
