Repository distribution/distribution, pull requests merged in 2023-11, with the labels that each got.

#4115 docs: remove unused go.mod
  docs/go.mod
  docs/go.sum
Labels: documentation, status/2-code-review

#4150 fix: fix broken build
  registry/storage/driver/gcs/gcs_test.go
  registry/storage/driver/middleware/cloudfront/s3filter_test.go
  registry/storage/driver/middleware/redirect/middleware.go
  registry/storage/driver/middleware/redirect/middleware_test.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: priority/P0, area/ci

#4120 refactor: gcs storage driver
  registry/storage/driver/gcs/gcs.go
Labels: area/storage/gcs

#4045 Fix proxy statistics
  registry/proxy/proxyblobstore.go
  registry/proxy/proxyblobstore_test.go
  registry/proxy/proxymanifeststore.go
  registry/proxy/proxymanifeststore_test.go
  registry/proxy/proxymetrics.go
Labels: area/proxy

#4158 feat(linter): enable errcheck linter in golangci-lint
  .golangci.yml
  cmd/registry/main.go
  dockerfiles/lint.Dockerfile
  health/health.go
  registry/auth/htpasswd/access.go
  registry/auth/htpasswd/htpasswd.go
  registry/auth/silly/access.go
  registry/auth/token/accesscontroller.go
  registry/auth/token/fuzz_test.go
  registry/handlers/api_test.go
  registry/handlers/manifests.go
  registry/listener/listener.go
  registry/proxy/proxyblobstore.go
  registry/proxy/proxymanifeststore.go
  registry/registry.go
  registry/registry_test.go
  registry/root.go
  registry/storage/blob_test.go
  registry/storage/driver/azure/azure.go
  registry/storage/driver/azure/azure_test.go
  registry/storage/driver/filesystem/driver.go
  registry/storage/driver/gcs/gcs_test.go
  registry/storage/driver/inmemory/driver.go
  registry/storage/driver/middleware/cloudfront/middleware.go
  registry/storage/driver/middleware/cloudfront/middleware_test.go
  registry/storage/driver/middleware/cloudfront/s3filter_test.go
  registry/storage/driver/middleware/redirect/middleware.go
  registry/storage/driver/s3-aws/s3_test.go
  registry/storage/driver/s3-aws/s3_v2_signer.go
  registry/storage/driver/testsuites/testsuites.go
  registry/storage/filereader_test.go
  registry/storage/garbagecollect_test.go
  registry/storage/manifeststore_test.go
  registry/storage/purgeuploads_test.go
  testutil/handler.go
  testutil/manifests.go
Labels: theme/quality, priority/P1

#4163 docs: fix typo in mirror.md
  docs/content/recipes/mirror.md
Labels: documentation

#4167 dockerfile: keep context mount as read only
  Dockerfile
Labels: area/ci

#4166 fix: invalid conversion when using Content-Range in client
  internal/client/transport/http_reader.go
Labels: security, process/cherry-pick, area/client

#4168 fix: if reference exceeds max threshold return 400 and detail
  registry/api/errcode/errors.go
  registry/storage/cache/memory/memory.go
  registry/storage/cache/redis/redis.go
Labels: bug, area/cache, v3.0.0

#4157 remove uuid package
  internal/uuid/uuid.go
  internal/uuid/uuid_test.go
Labels: impact/deprecation

#4173 feat: add tparallel linter to improve handling (parallel) tests
  .golangci.yml
  internal/dcontext/trace_test.go
  registry/storage/driver/errors_test.go
Labels: area/ci
