Repository distribution/distribution, pull requests merged in 2024-07, with the labels that each got.

#4391 docs: disable base element override
  docs/hugo.yaml
Labels: area/docs

#4306 Replace custom Redis config struct with go-redis UniversalOptions (adds sentinel & cluster support)
  cmd/registry/config-cache.yml
  configuration/configuration.go
  configuration/configuration_test.go
  docs/content/about/configuration.md
  registry/handlers/app.go
  registry/storage/cache/redis/redis.go
  tests/conf-e2e-cloud-storage.yml
Labels: area/storage, area/config, area/cache, area/ci, area/docs, area/api

#4146 feat: implement 'rewrite' storage middleware
  cmd/registry/main.go
  docs/content/storage-drivers/middleware/_index.md
  docs/content/storage-drivers/middleware/rewrite.md
  registry/storage/driver/middleware/rewrite/middleware.go
  registry/storage/driver/middleware/rewrite/middleware_test.go
Labels: area/storage, area/docs

#4397 Update docs: JWKS credentials and AZ identity
  docs/content/about/configuration.md
  docs/content/storage-drivers/azure.md
Labels: area/docs

#4389 Bump Go and golang linter
  .golangci.yml
  Dockerfile
  dockerfiles/authors.Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/client_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_intermediate_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_leaf_cert.der
  vendor/github.com/google/s2a-go/internal/v2/certverifier/testdata/server_root_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/client_cert.der
  vendor/github.com/google/s2a-go/internal/v2/remotesigner/testdata/server_cert.der
Labels: dependencies, area/build

#3889 vendor: github.com/opencontainers/image-spec v1.1.0
  go.mod
  go.sum
  registry/storage/ocimanifesthandler.go
  registry/storage/ocimanifesthandler_test.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/annotations.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/config.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/descriptor.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/index.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/layout.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/manifest.go
  vendor/github.com/opencontainers/image-spec/specs-go/v1/mediatype.go
  vendor/github.com/opencontainers/image-spec/specs-go/version.go
  vendor/modules.txt
Labels: area/storage, dependencies

#3886 Descriptor: do not implement Describable interface
  blobs.go
  manifest/ocischema/builder.go
  manifest/schema2/builder.go
  manifests.go
  registry/storage/manifeststore_test.go
  testutil/manifests.go
Labels: area/storage, status/2-code-review, impact/changelog, impact/deprecation, area/ci

#4401 S3 driver: Attempt HeadObject on Stat first, fail over to List
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage, area/storage/s3, dependencies

#4403 manifest: slight cleanup of init / registration
  manifest/manifestlist/manifestlist.go
  manifest/ocischema/index.go
  manifest/ocischema/manifest.go
  manifest/schema2/manifest.go
Labels: refactor, status/2-code-review

#4402 ci:bump Go version
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
Labels: dependencies, area/ci, area/build

#3887 deprecate Versioned in favor of oci.Versioned
  internal/client/repository_test.go
  manifest/manifestlist/manifestlist.go
  manifest/ocischema/builder.go
  manifest/ocischema/index.go
  manifest/ocischema/manifest.go
  manifest/ocischema/manifest_test.go
  manifest/schema2/builder.go
  manifest/schema2/manifest.go
  manifest/schema2/manifest_test.go
  manifest/versioned.go
  notifications/bridge_test.go
  notifications/listener_test.go
  registry/handlers/api_test.go
  registry/proxy/proxymanifeststore_test.go
  registry/storage/manifestlisthandler.go
  registry/storage/manifeststore.go
  registry/storage/manifeststore_test.go
  registry/storage/ocimanifesthandler_test.go
  registry/storage/schema2manifesthandler_test.go
  registry/storage/tagstore_test.go
Labels: area/storage, status/2-code-review, impact/changelog, area/proxy, impact/deprecation, area/api

#4341 fix logic for handling regionEndpoint
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage, area/storage/s3

#4412 fix nil pointer in s3 list api
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage, area/storage/s3

#4414 chore: fix typos returned in some errors
  registry/auth/token/accesscontroller.go
  registry/storage/driver/middleware/redirect/middleware.go
  registry/storage/driver/middleware/rewrite/middleware.go
Labels: area/storage, area/auth
