Repository distribution/distribution, pull requests merged in 2024-01, with the labels that each got.

#4216 chore: use no-cache-filter for outdated stage
  docker-bake.hcl
  dockerfiles/vendor.Dockerfile
Labels: area/build

#4210 update to alpine 3.19
  Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
Labels: status/2-code-review, area/build

#4212 fix: update Dockerfile version output
  Dockerfile
Labels: area/build

#4213 fix: add labeler action
  .github/labeler.yml
  .github/workflows/label.yaml
Labels: area/ci

#4247 docs: add rendering hook and fix broken links
  .github/workflows/docs.yml
  docker-bake.hcl
  dockerfiles/docs.Dockerfile
  docs/content/about/configuration.md
  docs/content/about/deploying.md
  docs/content/about/garbage-collection.md
  docs/content/about/insecure.md
  docs/content/about/notifications.md
  docs/content/recipes/apache.md
  docs/content/recipes/mirror.md
  docs/content/recipes/nginx.md
  docs/content/spec/_index.md
  docs/content/spec/api.md
  docs/content/spec/auth/oauth.md
  docs/content/spec/auth/scope.md
  docs/content/spec/auth/token.md
  docs/content/spec/manifest-v2-2.md
  docs/content/storage-drivers/inmemory.md
  docs/hugo.yaml
  docs/layouts/_default/_markup/render-link.html
Labels: documentation, status/2-code-review

#4259 refactor(storage/s3): remove redundant len check
  registry/storage/driver/s3-aws/s3.go
Labels: area/storage, area/storage/s3

#4248 feat: Add HTTP2 for unencrypted HTTP (v3)
  configuration/configuration.go
  configuration/configuration_test.go
  docs/content/about/configuration.md
  go.mod
  go.sum
  registry/registry.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_compat.go
  vendor/golang.org/x/crypto/internal/poly1305/bits_go1.13.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_generic.go
  vendor/golang.org/x/net/http2/h2c/h2c.go
  vendor/golang.org/x/sys/unix/mkerrors.sh
  vendor/golang.org/x/sys/unix/zerrors_linux.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_386.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_amd64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_arm64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_mips64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_ppc64.go
  vendor/golang.org/x/sys/unix/zsyscall_openbsd_riscv64.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/golang.org/x/sys/windows/zsyscall_windows.go
  vendor/modules.txt
Labels: area/config, dependencies, area/docs
