Repository distribution/distribution, pull requests merged in 2024-05, with the labels that each got.

#4339 Set readStartAtFile context aware for purge uploads
  registry/storage/purgeuploads.go
Labels: area/storage

#2903 Fix #2902: ‘autoRedirect’ hardcode ‘https’ scheme
  docs/content/about/configuration.md
  registry/auth/token/accesscontroller.go
  registry/auth/token/accesscontroller_test.go
Labels: area/auth, area/docs

#4293 Stop proxy scheduler on system exit
  registry/handlers/app.go
  registry/proxy/proxyregistry.go
  registry/proxy/scheduler/scheduler.go
  registry/proxy/scheduler/scheduler_test.go
  registry/registry.go
Labels: area/proxy, area/api

#4263 Add support for `Basic Authentication` to `proxyingRegistry`
  registry/proxy/proxyauth.go
  registry/proxy/proxyregistry.go
Labels: area/proxy

#4273 Include headers when serving blob through proxy
  registry/proxy/proxyblobstore.go
  registry/proxy/proxyblobstore_test.go
Labels: area/proxy

#4355 docs: update location of `filesystem.md`
  docs/dockerhub.md
Labels: area/docs

#4347 Add a go.mod toolchain version
  go.mod
Labels: dependencies

#4349 feature: Bump go-jose and require signing algorithms in auth
  docs/content/about/configuration.md
  go.mod
  go.sum
  registry/auth/token/accesscontroller.go
  registry/auth/token/fuzz_test.go
  registry/auth/token/token.go
  registry/auth/token/token_test.go
  vendor/github.com/go-jose/go-jose/v3/jwt/jwt.go
  vendor/github.com/go-jose/go-jose/v4/.gitignore
  vendor/github.com/go-jose/go-jose/v4/.golangci.yml
  vendor/github.com/go-jose/go-jose/v4/.travis.yml
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/CONTRIBUTING.md
  vendor/github.com/go-jose/go-jose/v4/LICENSE
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/SECURITY.md
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/cbc_hmac.go
  vendor/github.com/go-jose/go-jose/v4/cipher/concat_kdf.go
  vendor/github.com/go-jose/go-jose/v4/cipher/ecdh_es.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/doc.go
  vendor/github.com/go-jose/go-jose/v4/encoding.go
  vendor/github.com/go-jose/go-jose/v4/json/LICENSE
  vendor/github.com/go-jose/go-jose/v4/json/README.md
  vendor/github.com/go-jose/go-jose/v4/json/decode.go
  vendor/github.com/go-jose/go-jose/v4/json/encode.go
  vendor/github.com/go-jose/go-jose/v4/json/indent.go
  vendor/github.com/go-jose/go-jose/v4/json/scanner.go
  vendor/github.com/go-jose/go-jose/v4/json/stream.go
  vendor/github.com/go-jose/go-jose/v4/json/tags.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/jwt/builder.go
  vendor/github.com/go-jose/go-jose/v4/jwt/claims.go
  vendor/github.com/go-jose/go-jose/v4/jwt/doc.go
  vendor/github.com/go-jose/go-jose/v4/jwt/errors.go
  vendor/github.com/go-jose/go-jose/v4/jwt/jwt.go
  vendor/github.com/go-jose/go-jose/v4/jwt/validation.go
  vendor/github.com/go-jose/go-jose/v4/opaque.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Labels: area/auth, dependencies, area/docs
