Repository distribution/distribution, pull requests merged in 2024-08, with the labels that each got.

#4425 fix: skip removing layer's link file when '--dry-run' option specified
  registry/storage/garbagecollect.go
Labels: area/storage

#4423 Use `x.y.0` format for the go module version
  go.mod
Labels: dependencies

#4435 chore: fix typo in rewrite storage middleware init
  registry/storage/driver/middleware/rewrite/middleware.go
Labels: area/storage

#4444 Build artifacts and images for linux/riscv64
  docker-bake.hcl
Labels: area/build
