Repository distribution/distribution, pull requests merged in 2024-04, with the labels that each got.

#4313 chore: remove repetitive words in comments
  configuration/configuration.go
  registry/storage/blobwriter.go
  registry/storage/tagstore.go
Labels: area/storage, area/config

#4312 chore: bump distriution/reference dependency
  go.mod
  go.sum
  vendor/github.com/distribution/reference/README.md
  vendor/github.com/distribution/reference/normalize.go
  vendor/github.com/distribution/reference/reference.go
  vendor/modules.txt
Labels: dependencies

#4314 Add Go 1.22 support to CI
  .github/workflows/build.yml
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
  go.sum
Labels: dependencies, area/ci, area/build

#4285 Fix garbage-collect --delete-untagged to handle schema 2 manifest list and OCI image index
  registry/storage/garbagecollect.go
  registry/storage/garbagecollect_test.go
  testutil/manifests.go
Labels: area/storage, area/ci

#4305 proxy: Do not configure HTTP secret for proxy registry
  registry/handlers/app.go
Labels: area/api

#4332 chore: fix some typos in comments
  registry/auth/auth.go
  registry/auth/token/accesscontroller.go
  registry/auth/token/token.go
  registry/storage/blob_test.go
  registry/storage/cache/redis/redis_test.go
  registry/storage/driver/middleware/cloudfront/middleware_test.go
Labels: area/storage, area/cache, area/auth

#4335 chore: fix some typos in comments
  registry/api/v2/urls.go
  registry/auth/auth.go
  registry/auth/token/accesscontroller.go
Labels: area/auth, area/api

#4291 Allow setting s3 forcepathstyle without regionendpoint
  docs/content/storage-drivers/s3.md
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
  tests/conf-e2e-cloud-storage.yml
Labels: area/storage, area/storage/s3, area/ci, area/docs, breaking-change

#4331 fix: ignore error of manifest tag path not found in gc
  registry/storage/garbagecollect.go
  registry/storage/garbagecollect_test.go
Labels: area/storage

#4329 add bounded concurrency for tag lookup and untag
  cmd/registry/config-cache.yml
  cmd/registry/config-dev.yml
  cmd/registry/config-example.yml
  configuration/configuration.go
  configuration/configuration_test.go
  docs/content/about/configuration.md
  go.mod
  registry/handlers/app.go
  registry/handlers/manifests.go
  registry/storage/registry.go
  registry/storage/tagstore.go
  vendor/golang.org/x/sync/errgroup/errgroup.go
  vendor/golang.org/x/sync/errgroup/go120.go
  vendor/golang.org/x/sync/errgroup/pre_go120.go
  vendor/modules.txt
Labels: area/storage, area/config, dependencies, area/docs, area/api
