Repository distribution/distribution, pull requests merged in 2024-03, with the labels that each got.

#4287 Update notifications.md
  docs/content/about/notifications.md
Labels: area/docs

#4196 [otel-tracing] Added Tracing to Base package (driver)
  go.mod
  registry/storage/driver/base/base.go
  tracing/exporter.go
  tracing/exporter_test.go
  tracing/tracing.go
Labels: enhancement, area/storage, dependencies

#4296 fix: typo
  registry/api/v2/descriptors.go
Labels: area/api

#4295 Support redirects in gcs storage with default credentials
  docs/content/storage-drivers/gcs.md
  registry/storage/driver/gcs/gcs.go
Labels: area/storage, area/storage/gcs, area/docs

#4283 Initialize proxy prometheus counters values to 0
  registry/proxy/proxymetrics.go
Labels: area/proxy

#4311 Upgrade Scorecard Action version to fix error
  .github/workflows/scorecards.yml
Labels: area/ci
