Repository distribution/distribution, pull requests merged in 2024-10, with the labels that each got.

#4471 fix: Add the token's rootcert public key to the list of known keys
  docs/content/about/configuration.md
  docs/content/spec/auth/jwt.md
  docs/content/spec/auth/token.md
  registry/auth/token/accesscontroller.go
  registry/auth/token/accesscontroller_test.go
  registry/auth/token/util.go
Labels: area/auth, area/docs

#4467 TestProxyManifestsMetrics: use actual size of manifest
  registry/proxy/proxymanifeststore_test.go
Labels: status/2-code-review, area/proxy, area/tests

#4476 docs: removed description of ELB as an example of an not sophisticated Load Balancer
  docs/content/about/deploying.md
Labels: area/docs

#3888 Make Descriptor an alias for oci.Descriptor
  blobs.go
Labels: status/2-code-review, impact/changelog, area/proxy

#4479 replace uses of Descriptor alias
  blobs.go
  internal/client/blob_writer.go
  internal/client/repository.go
  internal/client/repository_test.go
  manifest/manifestlist/manifestlist.go
  manifest/manifestlist/manifestlist_test.go
  manifest/ocischema/builder.go
  manifest/ocischema/builder_test.go
  manifest/ocischema/index.go
  manifest/ocischema/index_test.go
  manifest/ocischema/manifest.go
  manifest/ocischema/manifest_test.go
  manifest/schema2/builder.go
  manifest/schema2/builder_test.go
  manifest/schema2/manifest.go
  manifest/schema2/manifest_test.go
  manifests.go
  notifications/bridge.go
  notifications/bridge_test.go
  notifications/event.go
  notifications/listener.go
  notifications/listener_test.go
  registry/handlers/api_test.go
  registry/handlers/blobupload.go
  registry/handlers/manifests.go
  registry/proxy/proxyblobstore.go
  registry/proxy/proxyblobstore_test.go
  registry/proxy/proxymanifeststore_test.go
  registry/proxy/proxytagservice.go
  registry/proxy/proxytagservice_test.go
  registry/storage/blob_test.go
  registry/storage/blobstore.go
  registry/storage/blobwriter.go
  registry/storage/cache/cache.go
  registry/storage/cache/cache_test.go
  registry/storage/cache/cachecheck/suite.go
  registry/storage/cache/cachedblobdescriptorstore.go
  registry/storage/cache/memory/memory.go
  registry/storage/cache/metrics/prom.go
  registry/storage/cache/redis/redis.go
  registry/storage/garbagecollect.go
  registry/storage/garbagecollect_test.go
  registry/storage/linkedblobstore.go
  registry/storage/linkedblobstore_test.go
  registry/storage/manifestlisthandler.go
  registry/storage/manifeststore_test.go
  registry/storage/ocimanifesthandler_test.go
  registry/storage/schema2manifesthandler_test.go
  registry/storage/tagstore.go
  registry/storage/tagstore_test.go
  tags.go
  testutil/manifests.go
  testutil/push.go
  testutil/tarfile.go
Labels: area/storage, area/cache, area/proxy, area/ci, area/api

#4481 ci: Add validation for api docs
  .github/workflows/validate.yml
  docs/content/spec/api.md
  docs/content/spec/api.md.tmpl
  registry/api/v2/descriptors.go
Labels: area/ci, area/docs, area/api

#4485 avoid appending directory as file path in s3 driver Walk
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage, area/storage/s3

#4436 ci: fix GHA CI build matrix
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
Labels: dependencies, area/ci, area/build
