Repository distribution/distribution, pull requests merged in 2024-12, with the labels that each got.

#4527 update xx to v1.6.1 for compatibility with alpine 3.21 and file 5.46+
  Dockerfile
Labels: status/2-code-review, dependencies, area/build

#4532 chore: Bump alpine image version
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/authors.Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
Labels: dependencies, area/ci, area/build

#4537 feat(configuration): support mtls auth mod
  configuration/configuration.go
  configuration/configuration_test.go
  docs/content/about/configuration.md
  registry/registry.go
Labels: area/config, area/docs
