Repository distribution/distribution, pull requests merged in 2025-08, with the labels that each got.

#4666 Switch UUIDs to UUIDv7
  internal/client/repository_test.go
  internal/dcontext/context.go
  internal/dcontext/http.go
  internal/dcontext/trace.go
  internal/uuid/uuid.go
  notifications/bridge.go
  notifications/bridge_test.go
  registry/storage/driver/filesystem/driver.go
  registry/storage/linkedblobstore.go
  registry/storage/purgeuploads_test.go
Labels: area/storage

#4642 s3-aws: fix build for 386
  registry/storage/driver/s3-aws/s3_32bit.go
  registry/storage/driver/s3-aws/s3_64bit.go
Labels: area/storage, area/storage/s3

#4617 Fix S3 driver loglevel param
  registry/storage/driver/s3-aws/s3.go
  registry/storage/driver/s3-aws/s3_test.go
Labels: area/storage, area/storage/s3

#4688 Fix broken link to Docker Hub fair use policy
  docs/content/recipes/mirror.md
Labels: area/docs
