Repository distribution/distribution, pull requests merged in 2025-03, with the labels that each got.

#4586 Enable MD5 check on GCS driver
  registry/storage/driver/gcs/gcs.go
Labels: area/storage, area/storage/gcs

#4592 Update osx-setup-guide.md and com.docker.registry.plist
  docs/content/recipes/osx-setup-guide.md
  docs/content/recipes/osx/com.docker.registry.plist
Labels: area/docs

#4523 fix: remove nested structs from configuration
  configuration/configuration.go
  configuration/configuration_test.go
  configuration/parser_test.go
Labels: refactor, area/config, dependencies

#4595 use cached blob statter in ManifestService if available
  registry/storage/manifeststore_test.go
  registry/storage/registry.go
Labels: area/storage

#4576 Azure driver retry fix
  .github/workflows/build.yml
  Makefile
  docs/content/about/configuration.md
  docs/content/storage-drivers/azure.md
  registry/storage/driver/azure/auth.go
  registry/storage/driver/azure/azure.go
  registry/storage/driver/azure/azure_test.go
  registry/storage/driver/azure/parser.go
  registry/storage/driver/azure/retry_notification_policy.go
  registry/storage/driver/filesystem/driver_test.go
  registry/storage/driver/gcs/gcs_test.go
  registry/storage/driver/inmemory/driver_test.go
  registry/storage/driver/s3-aws/s3_test.go
  registry/storage/driver/testsuites/testsuites.go
  tests/docker-compose-azure-blob-store.yaml
Labels: area/storage, area/storage/s3, area/storage/gcs, area/storage/azure, area/ci, area/build, area/docs

#4600 Rename cloud make targets to s3
  .github/workflows/build.yml
  BUILDING.md
  Makefile
  tests/conf-local-s3.yml
Labels: area/ci, area/build

#4601 Bump Go version in prep for a release
  .github/workflows/build.yml
  Dockerfile
  dockerfiles/docs.Dockerfile
  dockerfiles/git.Dockerfile
  dockerfiles/lint.Dockerfile
  dockerfiles/vendor.Dockerfile
  go.mod
Labels: dependencies, area/ci, area/build

#4612 Fix golangci-lint config
  .golangci.yml
  dockerfiles/lint.Dockerfile
Labels: area/build
