Repository distribution/distribution, pull requests merged in 2025-04, with the labels that each got.

#4619 Fix default_credentials in azure storage provider
  docs/content/storage-drivers/azure.md
  registry/storage/driver/azure/auth.go
Labels: area/storage, area/storage/azure, area/docs

#4622 chore: make function comment match function name
  registry/storage/blobwriter_nonresumable.go
  registry/storage/driver/azure/retry_notification_policy.go
  registry/storage/driver/middleware/cloudfront/middleware.go
Labels: area/storage, area/storage/azure

#4626 fix: implement JWK thumbprint for Ed25519 public keys
  docs/content/about/configuration.md
  registry/auth/token/accesscontroller.go
  registry/auth/token/util.go
Labels: area/auth, area/docs

#4629 fix: Annotate code block from validation.indexes configuration docs
  docs/content/about/configuration.md
Labels: area/docs
